*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline: none;
}

body {
    background-color: #191970;
}

.title {
    color: white;
    text-align: center;
    margin-top: 50px;
}

.InputForResearch {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#Input {
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

#btn {
    padding: 10px 20px 10px 20px;
    border-radius: 20px; 
}

#researchMovie {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Movie {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%; 
    padding: 20px;
}